node_modules
dist
.env
.env.local
backend/.dev.vars
*.tsbuildinfo
.wrangler
*.log
.pnpm-debug.log
.tmp
package-lock.json
repomix-output.xml
repomix-*.md
git-error-*.txt
supabase/.temp

#Ignore cursor AI rules
.cursor\rules\codacy.mdc
